<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suppression de film</title>
</head>
<body>
    <h1>Suppression de film</h1>
    <p>Êtes-vous sûr de vouloir supprimer le film "{{ film.titre }}"?</p>
    <form action="/supprimer/{{ film.id }}" method="post">
        <input type="submit" value="Oui, supprimer">
        <a href="/">Annuler</a>
    </form>
</body>
</html>
