{% extends 'base.html' %}

{% block title %} Création de compte {% endblock %}

{% block page_body %}
<h2>Création de compte</h2>
<form action="{{ url_for('create') }}" method="post">
    <div class="form-group">
        {{ csrf_token }}
        <label for="username">Nom d'utilisateur:</label>
        <input type="text" name="username" class="form-control" required>
        <br>
        <label for="password">Mot de passe:</label>
        <input type="password" name="password" class="form-control" required>
        <br>
        {% if next %}<input type="hidden" name="next" value="{{next}}">{% endif %}
    </div>
    <input type="submit" value="Envoyer">
</form>
{% endblock %}