{% extends 'base.html' %}
{% block title %}Acceuil{% endblock %}

{% block page_body %}
{% if is_logged_in() %}
    <h1>Liste des films</h1>
    <ul>
        {% for film in films|sort(attribute='title') %}
            <li>
                <strong>{{ film.title }}</strong> ({{ film.year }})<br>
                Genre: {{ film.genre }}<br>
                Réalisateur: {{ film.director }}<br>
                Acteurs: {{ ', '.join(film.actors) }}<br>
                Description: {{ film.description }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <h1>Connectez vous ou créez un compte pour accéder à la vidéothèque</h1>
{% endif %}
{% endblock %}