{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block messages %}
   {{super()}}
   {%if form.errors %}
     <ul class="alert alert-danger">
       {% for field, errors in form.errors.items() %}
         <li>{{field}} {% for error in errors %}{{ error }}{% endfor %}</li>
       {% endfor %}
     </ul>
   {% endif %}
{% endblock %}

{% block page_body %}
       <form action="{{ url_for('simplelogin.login') }}" method="post">
            <div class="form-group">
            {{ form.csrf_token }}
            <label for="username">Nom d'utilisateur:</label>
            <input type="text" name="username" class="form-control" required>
            <br>
            <label for="password">Mot de passe:</label>
            <input type="password" name="password" class="form-control" required>
            <br>
            {% if next %}<input type="hidden" name="next" value="{{next}}">{% endif %}
            </form>
           <input type="submit" value="Envoyer">
       </form>
{% endblock %}