{% extends 'base.html' %}

{% block title %} Création de compte {% endblock %}

{% block page_body %}
<h2>Création de compte</h2>
<form action="{{ url_for('register') }}" method="post">
    <div class="form-group">
        {{ csrf_token }}
        <label for="username">Nom d'utilisateur:</label>
        <input type="text" name="username" class="form-control" required>
        <br>
        <label for="password">Mot de passe:</label>
        <input type="password" name="password" class="form-control" required>
        <br>
        {% if next %}<input type="hidden" name="next" value="{{next}}">{% endif %}
        <div class="form-group">
            <label for="confirm_password">Confirmer le mot de passe:</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
        </div>
    </div>
    <input type="submit" value="Créer un compte">
</form>
{% endblock %}
