{% extends 'base.html' %}

{% block title %} Création de compte {% endblock %}

{% block page_body %}
<div class="py-5 text-center">
    <i class="bi bi-person-add" style="font-size: 4rem; color: #FF3131;"></i>
    <h2>Création de compte</h2>
    <div class="row g-6 justify-content-center border rounded-3 shadow-lg p-4 mx-5 mb-5">
        <div class="col-md-7 col-lg-3">
<form action="{{ url_for('register') }}" method="post">
    <div class="form-group">
        {{ csrf_token }}
        <label for="username">Nom d'utilisateur:</label>
        <input type="text" name="username" class="form-control" required>
        <br>
        <label for="password">Mot de passe:</label>
        <input type="password" name="password" class="form-control" required>
        <br>
        {% if next %}<input type="hidden" name="next" value="{{next}}">{% endif %}
        <div class="form-group">
            <label for="confirm_password">Confirmer le mot de passe:</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
        </div>
    </div>
    <input type="submit" value="Créer un compte" class="btn main-btn mt-3">
</form>
</div>
</div>
</div>
{% endblock %}
