{% extends 'base.html' %}

{% block title %} Ajout de films {% endblock %}

{% block page_body %}

<div class="py-5 text-center text-white">
    <i class="bi bi-film" style="font-size: 4rem; color: #FF3131;"></i><i class="bi bi-plus-circle-fill"
        style="font-size: 2rem; color: #FF3131;"></i>
    <h2>Ajouter un film</h2>
</div>
<div class="row g-6 justify-content-center border rounded-3 shadow-lg p-4 mx-5 mb-5">
    <div class="col-md-7 col-lg-8">
        <form class="needs-validation" method="post" action="{{ url_for('add_film') }}" enctype="multipart/form-data">
            {{ csrf_token }}
            <div class="row g-3 text-white">
                <div class="col-md-6">
                    <label class="form-label" for="title">Titre*</label>
                    <input type="text" name="title" class="form-control" required>
                </div>

                <div class="col-md-6">
                    <label class="form-label" for="genre">Genre*</label>
                    <select class="form-select" name="genre" required>
                        <option selected disabled value="">...</option>
                        <option value="Action">Action</option>
                        <option value="Aventure">Aventure</option>
                        <option value="Comédie">Comédie</option>
                        <option value="Drame">Drame</option>
                        <option value="Fantastique">Fantastique</option>
                        <option value="Horreur">Horreur</option>
                        <option value="Policier">Policier</option>
                        <option value="Science-fiction">Science-fiction</option>
                        <option value="Thriller">Thriller</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label class="form-label" for="director">Réalisateur*</label>
                    <input type="text" name="director" class="form-control" required>
                </div>
                <div class="col-md-6">
                <label class="form-label" for="year">Date de sortie*</label>
                    <input type="date" name="year" class="form-control" required>
                </div>
                <div class="col-md-6">
                    <label class="form-label" for="duree">Durée en minutes*</label>
                    <input type="number" name="duree" class="form-control" required>
                </div>
                <div class="col-md-6">
                    <label class="form-label" for="production">Production* </label>
                    <input type="text" name="production" class="form-control" required>
                </div>
                <div class="col-md-12">
                    <label class="form-label" for="actors">Acteurs (séparés par des virgules)*</label>
                    <input type="text" name="actors" class="form-control" required>
                </div>

                <div class="col-md-12">
                    <label class="form-label" for="actors">Poster *</label>
                    <input type="file" name="poster" class="form-control" required>
                </div>

                <div class="col-md-12">
                    <label class="form-label" for="description">Description*</label>
                    <textarea class="form-control" name="description" rows="4" cols="75"
                        style="display: block;height: 10rem;"></textarea>
                </div>

                <button type="submit" class="btn main-btn">Ajouter</button>
            </div>
        </form>

    </div>
</div>


{% endblock %}