{% extends 'base.html' %}
{% block title %}Liste des films de la communauté{% endblock %}

{% block page_body %}

<h1 class="text-center title">Liste des films de la communauté</h1>

<h4 class="text-center text-white">Liste des films</h4>
<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3" id="searchResults">

        {% for user in films %}
        {% for film_data in films[user] %}
        <div class="col" id="result{{ film_data.title }}" min-height="550px">
            <a data-bs-toggle="modal" data-bs-target="#filmModal{{ film_data.title }}" class="text-decoration-none"
                style="cursor: pointer;">
                <div class="card shadow-sm link-film bg-dark">
                    <span class="badge rounded-pill text-bg-warning" style="position: absolute;top: 20px;left: 20px;"><i
                            class="bi bi-person-circle"></i>
                        <td>{{ user }}</td>
                    </span>
                    <img src="" alt="{{ film_data.title }}" width="100%" class="card-img-top" alt="..."
                        style="min-height: 250px;">

                    <div class="card-body image-bg-container">
                        <h2 class="card-title text-center" style="font-size: 2rem;color: #FF3131 !important;"
                            id="title{{ film_data.title }}">
                            {{ film_data.title }}
                        </h2>
                    </div>
                </div>
            </a>
            <!-- Modal -->
            <div class="modal modal-xl" id="filmModal{{ film_data.title }}" tabindex="-1"
                aria-labelledby="filmModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content bg-dark text-white">
                        <div class="modal-header " data-bs-theme="dark" style="border: none;">
                            <h1 class="modal-title title" id="exampleModalLabel">{{ film_data.title }}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="bg-dark">
                            <div class="container modal-body image-bg-container">
                                <div class="row ">
                                    <div class="col-4">
                                        <img src="" alt="{{ film_data.title }}" width="100%" class="card-img-top p-3 "
                                            style="border-radius: 30px;">
                                    </div>
                                    <div class="col-8 mt-4">
                                        <ul class="list-unstyled">
                                            <li><i class="bi bi-circle-fill mx-2"></i>
                                                <strong>Titre :</strong> {{ film_data.title }}
                                            </li>

                                            <li><i class="bi bi-calendar-event mx-2"></i>
                                                <strong>Date de
                                                    sortie:</strong> {{ film_data.year }}
                                            </li>
                                            <li><i class="bi bi-stars mx-2"></i>
                                                <strong>Acteurs:</strong> {{ film_data.actors }}
                                            </li>

                                            <li><i class="bi bi-clock-fill mx-2"></i>
                                                <strong>durée:</strong> {{
                                                film_data.duree
                                                }} min
                                            </li>
                                            <li><i class="bi bi-disc mx-2"></i>
                                                <strong>Genre:</strong>
                                                {{ film_data.genre }}
                                            </li>
                                            <li><i class="bi bi-camera-reels mx-2"></i>
                                                <strong>Production:</strong>
                                                {{ film_data.director }}
                                            </li>
                                            <li><i class="bi bi-camera-reels mx-2"></i>
                                                <strong>Director:</strong>
                                                {{ film_data.production }}
                                            </li>
                                        </ul>
                                        {{ film_data.description }}
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="modal-footer" style="border: none;">
                            <button type="button" class="btn main-btn" data-bs-dismiss="modal">Retour</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}