{% extends 'base.html' %}
{% block title %}Liste des films personnels{% endblock %}

{% block page_body %}

<h1 class="text-center title">Liste des films personnels</h1>

<h4 class="text-center text-white">Liste des films</h4>

<div class="row g-6 justify-content-center border rounded-3 shadow-lg p-4 mx-5 mb-5">
    <div class="col-md-7 col-lg-8">
        <table class="table table-dark">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Titre</th>
                    <th scope="col">Genre</th>
                    <th scope="col">Directeur</th>
                    <th scope="col">Acteurs</th>
                    <th scope="col">Date de sortie</th>
                    <th scope="col">Production</th>
                    <th scope="col">Durée</th>
                    <th scope="col">Description</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for film_data in films %}
                <tr>
                    <td>{{ film_data.title }}</td>
                    <td>{{ film_data.genre }}</td>
                    <td>{{ film_data.director }}</td>
                    <td>{{ film_data.actors }}</td>
                    <td>{{ film_data.year }}</td>
                    <td>{{ film_data.production }}</td>
                    <td>{{ film_data.duree }}</td>
                    <td>{{ film_data.description }}</td>
                    <td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}