{% extends 'base.html' %}
{% block title %}Acceuil{% endblock %}

{% block page_body %}
<div class="d-flex h-100 text-center text-bg-dark">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        <main class="px-3">
            <img src="{{ url_for('static', filename='images/logo2.png') }}" alt="logo" width="300" height="300"
                class="mx-3">
            <p class="lead">
                Bienvenue sur la vidéothèque CineVerse, vous pouvez consulter la liste des films disponibles ou choisir
                un film à regarder en effectuant une recherche.
            </p>
            <div class="row justify-content-center">
                <form class="form-inline my-2 my-lg-3 col-12 col-lg-6 d-flex justify-content-center">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </main>
    </div>

</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center title">Liste des films</h1>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for film in api_films.results %}
            {% if film.primaryImage != null %}
            <div class="col">
                <div class="card shadow-sm"
                    style="height: 100%;border: none;height: 100%;background-color: #dadce7;">

                    <img src="{{ film.primaryImage.url }}" alt="{{ film.titleText.text }}" width="100%" height="525"
                        class="card-img-top" alt="...">

                    <div class="card-body">
                        <h2 class="card-title text-center" style="font-size: 1.5rem;color: #FF3131 !important;">
                            {{ film.titleText.text }}
                        </h2>
                        <p>{{film.primaryImage.caption.plainText }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm main-btn"> <i class="bi bi-search"></i>
                                    Découvrir</button>
                            </div>
                            <small class="text-body-secondary"><i class="bi bi-clock"></i> Année: {{
                                film.releaseYear.year }}
                            </small>
                        </div>
                    </div>

                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}