{% extends 'base.html' %}
{% block title %}Acceuil{% endblock %}

{% block page_body %}
<div class="d-flex h-100 text-center text-bg-dark">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        <main class="px-3">
            <img src="{{ url_for('static', filename='images/logo2.png') }}" alt="logo" width="300" height="300"
                class="mx-3">
            <p class="lead">
                Bienvenue sur la vidéothèque CineVerse, vous pouvez consulter la liste des films disponibles ou choisir
                un film à regarder en effectuant une recherche.
            </p>
            <div class="row justify-content-center">
                <form class="form-inline my-2 my-lg-3 col-12 col-lg-6 d-flex justify-content-center">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </main>
    </div>

</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center title">Liste des films</h1>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for film in films|sort(attribute='title') %}
            <div class="col">
                <div class="card shadow-sm">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Photo film"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                            dy=".3em">Photo film</text>
                    </svg>

                    <div class="card-body">
                        <h2 class="card-title text-center" style="font-size: 1.5rem;color: #FF3131 !important;">
                            {{ film.title }}
                        </h2>
                        <ul class="list-group list-group-flush list">
                            <li class="list-group-item"><i class="bi bi-film"></i> Genre: {{ film.genre }}</li>
                            <li class="list-group-item"><i class="bi bi-person-heart"></i> Réalisateur: {{ film.director
                                }}</li>
                            <li class="list-group-item"><i class="bi bi-people-fill"></i> Acteurs: {{ ',
                                '.join(film.actors) }}</li>
                            <li class="list-group-item"><i class="bi bi-card-text"></i> Déscription : <p
                                    class="card-text">{{ film.description }}</p>
                            </li>
                        </ul>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm main-btn"> <i class="bi bi-search"></i> Découvrir</button>
                            </div>
                            <small class="text-body-secondary"><i class="bi bi-clock"></i> Année: {{ film.year
                                }}</small>
                        </div>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}